<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
<test name="BaicTestng">
	  <groups>
		<run>
			<!--<include name="groupData"/>-->
			<exclude name="groupData"/>
		</run>
	</groups>
    <classes>
     <class name="Testng.WithoutmainMehod"/>
      <class name="Testng.OneMoreClass"/>
    </classes>
    </test>
    <test name="WithThreeMethod" parallel="classes" thread-count="10">
		<groups>
		<run>
			<!--<include name="groupData"/>-->
			<exclude name="groupData"></exclude>
		</run>
	</groups>
		<classes>
			<class name="Testng.CheckAnnotation"/>
			<class name="Testng.ThreeMethodOneClass">
				<methods>
					<!--<include name="loginWebsite"></include>-->
					<!--<exclude name="loginApp"></exclude>-->
					<exclude name="login.*"/>
				</methods>
				
			</class>
			
		</classes>
		
	
  </test> <!-- Test -->
</suite> <!-- Suite -->
